@import "reset";
@import "variables/global";
@import "theme/normal";
@import "theme/dark";
@import "theme/orange";

.app,
.app-modal,
.app-drawer {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 8px; /* в основном для вертикальных полос прокрутки */
  height: 8px; /* в основном для горизонтальных полос прокрутки */
}

*::-webkit-scrollbar-thumb { /* плашка-бегунок */
  background: var(--inverted-primary-color);
  border-radius: 20px;
  border: 2px solid var(--primary-color);
}

*::-webkit-scrollbar-track { /* фон */
  background: var(--card-bg);
}
