@import "reset";
@import "variables/global";
@import "theme/normal";
@import "theme/dark";
@import "theme/orange";

.app {
  font: var(--font-m);
  color: var(--primary-color);
  background: var(--bg-color);
  min-height: 100vh;
}

.app-redesigned {
  background: var(--bg-redesigned);
  min-height: 100vh;
  font: var(--font-m-redesigned);
  color: var(--text-redesigned);
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 8px; /* в основном для вертикальных полос прокрутки */
  height: 8px; /* в основном для горизонтальных полос прокрутки */
}

*::-webkit-scrollbar-thumb { /* плашка-бегунок */
  background: var(--icon-redesigned);
  border-radius: 20px;
  border: 1px solid var(--accent-redesigned);
}

*::-webkit-scrollbar-track { /* фон */
  background: var(--light-bg-redesigned);
}

.app *::-webkit-scrollbar {
  width: 8px; /* в основном для вертикальных полос прокрутки */
  height: 8px; /* в основном для горизонтальных полос прокрутки */
}

.app *::-webkit-scrollbar-thumb { /* плашка-бегунок */
  background: var(--inverted-primary-color);
  border-radius: 20px;
  border: 2px solid var(--primary-color);
}

.app *::-webkit-scrollbar-track { /* фон */
  background: var(--card-bg);
}
