.app_orange_theme {
  --bg-color: #fbf6f4;
  --inverted-bg-color: #c55b29;
  --primary-color: #d54330;
  --secondary-color: #a52d22;
  --inverted-primary-color: #fbf6f4;
  --inverted-secondary-color: #f8f0ed;

  // redesigned
  --dark-bg-redesigned: #fff3d6;
  --bg-redesigned: #f0c048;
  --light-bg-redesigned: #f2d791;
  --text-redesigned: #1b1311;
  --hint-redesigned: #b8b2a2;
  --cancel-redesigned: #ff5e5e;
  --save-redesigned: #52fa81;
  --icon-redesigned: #4875f0;
  --accent-redesigned: #1d59ff;

  // skeleton
  --skeleton-color: #efe9e8;
  --skeleton-gradient-start-color: #e5dfda;
  --skeleton-gradient-finish-color: #ecdcd8;

  // code
  --code-bg: #fff;

  // card
  --card-bg: #eae4e2;

  // listbox
  --listbox-bg: #eae4e2;

  // sidebar-item
  --sidebar-item-background: linear-gradient(89.97deg, rgb(29 89 255 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
}
