.ArticleViewSelector {
  display: flex;
  align-items: center;

  .icon {
    fill: var(--secondary-color);
  }

  .selected {
    fill: var(--primary-color);
  }
}

.ArticleViewSelectorRedesigned {
  .icon {
    color: var(--light-bg-redesigned);
  }

  .selected {
    color: var(--icon-redesigned);
  }
}
