.Skeleton {
  background: var(--light-bg-redesigned);
  background:
    linear-gradient(
      110deg,
      var(--light-bg-redesigned) 8%,
      var(--dark-bg-redesigned) 18%,
      var(--light-bg-redesigned) 33%
    );
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
